@import "variables";

input, textarea {
  margin-bottom: 30px;
  padding: 0.6em;
  border-radius: 0.6em;
  border: none;
  background: $contact-color;
  width: 100%;
  color: white;
  outline: none;
  border: none;
  transition: all 200ms ease-in-out;
}

input:focus, textarea:focus {
  border: 2px solid $dark-accent-color;
}

.btn {
  background: white;
  color: $accent-color;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 2em; 
  border: 4px solid $accent-color;
  outline: none;
}

.btn:hover, .btn:focus {
  background: $accent-color;
  color: white;
  border: 4px solid $accent-color;
  outline: none;
}

.btn[type="submit"]{ 
  background: $accent-color;
  border: none;
  padding: 1em;
  color: white;
  margin-bottom: 0;
}

.btn[type="submit"]:hover, .btn[type="submit"]:focus{ 
  background: $dark-accent-color;
  border: none;
  padding: 1em;
  color: white;
}

a {
  font-size: 0.8rem;
  padding: 1em; 
  color: $link-color;
  text-decoration: none;
}

a:hover,  a:focus {
  color: $accent-color;
}

a.current-page, a.current-page:hover {
  color: $dark-accent-color;
}

.more-content {
  overflow: none;
  // contain: paint;
  padding:  0;
  height: 0px;
  transition: height 3s ease-in-out;
  p {
    display: none;
  }
}

.content > div > div {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.more-content.show {
  height: auto;
  padding: 1em 0;
  p{
    display: inline;
  }
}

.readmore-elm.show, .readless-elm.show {
  display: block;
}

.readmore-elm, .readless-elm {
  display: none;
  align-self: center;
}

.contact-element {
  display: flex;
  position: relative;
  bottom: 20px;
  left: 20px;
  // width: 120px;
  background:   white;
  justify-content: flex-start;
  align-items: center;
  width: 1.5em;
  // padding: 1em;
  border-radius: 16px;
  // margin: 1em;
  

  div.phone {
    background: #373770a3;;
    border-radius: 16px;
    padding: 0.2em;
  }

  p{
    display: none;
    margin: 0;
    text-align: center;
    padding: 0 1em;
    font-weight: bold;
  }

}

.contact-element.open {
  width: 160px;
  p {
    display: block;
    // background: pink;
    // height: 1.5em;
  }

}