$header-height: 90px;
$breadcrumb-height: 20px;
$nav-height: 60px;

$header-color: white;
$content-color: grey;
$navigation-color: lightgray;
$breadcrumb-color: pink;


$link-color: grey;
$active-link-color: rgb(92, 92, 184);
$current-page-link-color: rgb(55, 55, 112);
$content-link-color: rgb(56, 55, 55);