$header-height: 90px;
$breadcrumb-height: 20px;
$nav-height: 60px;

$background-color: rgb(116, 116, 172);
$header-color: white;
$content-color: grey;
$navigation-color: lightgray;
$breadcrumb-color: white;

$accent-color: rgb(92, 92, 184);
$dark-accent-color: rgb(55, 55, 112);
$darker-accent-color: rgb(32, 32, 63);

$link-color: grey;
// $active-link-color: $accent-color;
// $current-page-link-color: $dark-accent-color;
$content-link-color: rgb(56, 55, 55);
$contact-color: rgb(122, 121, 121);


