@import "variables";



html, body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

div {
  box-sizing: border-box;
}


// typography
h2, h1 {
  font-size: 2rem;
  margin: 1em 0;
  color: $dark-accent-color;
}


body {
  /* display: grid; */
  /* grid-template-areas: 'header' 'content' 'foooter'; */
}

header {
  /* grid-area: 'header'; */
  /* height: 40px; */
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  background: $header-color;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 1em;
}



.content-wrapper {
  /* grid-area: 'content'; */
  /* height: calc(100vh - 2em -1rem); */
  // height: calc(100vh - 10rem);

  // background: lightslategrey;
  background: $content-color;
  min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height} - #{$nav-height});
  display: block;

}

.content-wrapper {

  div {
    width: 85vw;
    max-width: 980px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5;

    // background: green;
    padding: 1em;


    a {
      color: $content-link-color;
      padding: 0;
      font-size: 1rem;
    }
  }

}

.nav-wrapper {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;

  /* grid-area: foooter; */
  background: $navigation-color;
  /* height: 100px; */
  height: $nav-height;
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  /* align-items: stretch; */
}

/* breadcrumb */
.breadCrumb {
  /* background: rgb(174, 245, 245); */
  width: 100%;
  height: $breadcrumb-height;
  font-size: 0.8rem;

  // margin: 1em;
  background: $breadcrumb-color;
  
}

.breadCrumb a {
  padding: 0.5rem;
}


/* navigation */

.nav-wrapper ul {
  display: flex;
  list-style: none;
}

.nav-wrapper p, .nav-wrapper ul {
  margin: 1em;

  align-self: flex-end;
}

.nav-wrapper p {
  font-size: 0.6rem;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  align-self: center;
}

/* .nav a {
  font-size: 0.8rem;
  padding: 1em; 
  color: grey;
}

.nav a:hover, .nav a:focus {
  color: rgb(92, 92, 184);
}

a.current-page, a.current-page:hover {
  color: rgb(55, 55, 112);
} */


a {
  font-size: 0.8rem;
  padding: 1em; 
  color: $link-color;
}

 a:hover,  a:focus {
  color: $active-link-color;
}

a.current-page, a.current-page:hover {
  color: $current-page-link-color;
}

// contact form
.contact {
  display: flex;
  text-align: left;

  p {
    margin: 0;
    // font-weight: bold;
  }

  input, textarea {
    margin-bottom: 30px;
    padding: 0.4em;
    border-radius: 0.6em;

    border: none;
    background: $contact-color;
    width: 300px;
    color: white;
  }

  .flowText{
    padding: 0;
  }

  .form{
    width: 50%;
  }
  .extra{
    padding-top: 8rem;
    width: 50%;
    background: $contact-color;
    line-height: 1.5;
  }

  input.btn{
    width: auto;
    background: $accent-color;
    display: block;
    padding: 1em;
    font-weight: bold;
    border-radius: 2em;
  }
}

.icon {
  // height: 20px;
  height: 1.5em;
  // width: 20px;
  display: inline;
  vertical-align: bottom;
}
p.icon-p {
  margin: 1.5em 0;

}

// i {
//   display: inline;
//   height: 20px;
//   width: 20px;
// }