html, body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2, h1 {
  font-size: 2rem;
  margin: 1em 0;
  color: #373770;
}

body {
  /* display: grid; */
  /* grid-template-areas: 'header' 'content' 'foooter'; */
}

header {
  /* grid-area: 'header'; */
  /* height: 40px; */
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-left: 1em;
}

.content-wrapper {
  /* grid-area: 'content'; */
  /* height: calc(100vh - 2em -1rem); */
  background: #7474ac;
  min-height: calc(100vh - 90px - 20px - 60px);
  display: block;
}

.content-wrapper div {
  width: 85vw;
  max-width: 980px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
  background: grey;
  padding: 1em;
  min-height: calc(100vh - 90px - 20px - 60px);
}

.content-wrapper div a {
  color: #383737;
  padding: 0;
  font-size: 1rem;
}

.nav-wrapper {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* grid-area: foooter; */
  background: lightgray;
  /* height: 100px; */
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* align-content: space-between; */
  /* align-items: stretch; */
}

/* breadcrumb */
.breadCrumb {
  /* background: rgb(174, 245, 245); */
  width: 100%;
  height: 20px;
  font-size: 0.8rem;
  background: white;
}

.breadCrumb a {
  padding: 0.5rem;
}

/* navigation */
.nav-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-wrapper p, .nav-wrapper ul {
  margin: 1em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav-wrapper p {
  font-size: 0.6rem;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* .nav a {
  font-size: 0.8rem;
  padding: 1em; 
  color: grey;
}

.nav a:hover, .nav a:focus {
  color: rgb(92, 92, 184);
}

a.current-page, a.current-page:hover {
  color: rgb(55, 55, 112);
} */
a {
  font-size: 0.8rem;
  padding: 1em;
  color: grey;
}

a:hover, a:focus {
  color: #5c5cb8;
}

a.current-page, a.current-page:hover {
  color: #373770;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.contact p {
  margin: 0;
}

.contact input, .contact textarea {
  margin-bottom: 30px;
  padding: 0.6em;
  border-radius: 0.6em;
  border: none;
  background: #383737;
  width: 300px;
  color: white;
}

.contact .flowText {
  padding: 0;
}

.contact .form {
  width: 50%;
}

.contact .extra {
  padding-top: 8rem;
  width: 50%;
  background: #7a7979;
  line-height: 1.5;
}

.contact input.btn {
  width: auto;
  background: #5c5cb8;
  display: block;
  padding: 1em;
  font-weight: bold;
  border-radius: 2em;
}

.icon {
  height: 1.5em;
  display: inline;
  vertical-align: bottom;
}

p.icon-p {
  margin: 1.5em 0;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */