@import "variables";

@import "theme";
@import "img";

html, body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// ==========
// typography
// ==========



body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2, h1 {
  font-size: 2rem;
  margin: 0.5em 0;
  color: $dark-accent-color;
  // color: orange;
  font-family: Arial, Geneva, Tahoma, sans-serif;
}

input, textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


// ==========
//   layout
// ==========

body {
  // height: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  // overflow-y: auto;
  // overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100vw;
  height: $header-height;
  background: $header-color;
  align-items: center;
  display: flex;
  // justify-items: space-between;
}

.logo {
  margin-left: 1em;
}

.content-wrapper {
  // width: 100%;
  // overflow: auto;
  flex: 1 auto;
  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='23.07' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M17.62 0l-6.07 10.5m2.74 4.76L8.22 4.75m-5.48 0h12.13M.01 0h23.07M6.07 20L0 9.5m2.74-4.75l-6.07 10.5m-5.48 0H3.33m8.2 4.75L0 .02-11.54 20m40.68 0L23.07 9.5m2.74-4.75l-6.06 10.5m-5.49 0H26.4M34.6 20L23.08.02 11.53 20m-5.46 0L0 30.51m2.74 4.75l-6.07-10.5m-5.48 0H3.33m8.2-4.75L0 40l-11.54-19.98zM17.6 40l-6.06-10.5m2.74-4.76L8.2 35.25m-5.48 0h12.13M0 40h23.07L11.54 20.01m17.6 0l-6.07 10.5m2.74 4.75l-6.06-10.5m-5.49 0H26.4M11.53 20h23.08L23.07 40'  stroke-linecap='square' stroke-width='1' stroke='hsla(231, 31%, 68%, .4)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='23.07' height='40' patternTransform='scale(2) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M17.62 0l-6.07 10.5m2.74 4.76L8.22 4.75m-5.48 0h12.13M.01 0h23.07M6.07 20L0 9.5m2.74-4.75l-6.07 10.5m-5.48 0H3.33m8.2 4.75L0 .02-11.54 20m40.68 0L23.07 9.5m2.74-4.75l-6.06 10.5m-5.49 0H26.4M34.6 20L23.08.02 11.53 20m-5.46 0L0 30.51m2.74 4.75l-6.07-10.5m-5.48 0H3.33m8.2-4.75L0 40l-11.54-19.98zM17.6 40l-6.06-10.5m2.74-4.76L8.2 35.25m-5.48 0h12.13M0 40h23.07L11.54 20.01m17.6 0l-6.07 10.5m2.74 4.75l-6.06-10.5m-5.49 0H26.4M11.53 20h23.08L23.07 40'  stroke-linecap='square' stroke-width='1' stroke='hsla(231, 31%, 68%, .4)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  // min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height} - #{$nav-height});
  display: block;
}

.content-wrapper {
  div.content {
    width: 85vw;
    max-width: 980px;
    // margin: 0 auto;
    margin: 20px auto;
    text-align: justify;
    line-height: 2;
    background: $content-color;
    // min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height} - #{$nav-height});

    a {
      color: $content-link-color;
      font-weight: bold;
      padding: 0;
      font-size: 1rem;
    }

    a:hover,  a:focus {
      color: $accent-color;
    }
  }

  .content > div:not(.contact){
    padding: 1em;
  }

  .content > div {
    padding: 0;
  }

  .contact > div {
    // padding: 1em;
  }

}

footer {
  // position: relative;
  // bottom: 0px;
  // left: 0px;
  // right: 0px;

  background: $navigation-color;
  // height: $nav-height;
  display: flex;
  flex-direction: row;
  // width: 100vw;

}

/* breadcrumb */

.breadCrumb {
  width: 100%;
  height: $breadcrumb-height;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $link-color;
} 

.breadCrumb a {
  padding: 0.5rem;
}


/* bottom navigation */
footer{
  color: $link-color;
  // flex-wrap: wrap;
}

footer ul {
  display: flex;
  list-style: none;
  // flex-wrap:wrap;
}

footer p, footer ul {
  margin: 1em;
  // align-self: flex-end;
}

footer{

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      // align-self: center;
      // flex-wrap: wrap;
      justify-content: space-evenly;
  
      li {
        display: flex;

        a {
          font-weight: bold;
        }
      }
    }
  }
  
  p {
    font-size: 0.6rem;
    // vertical-align: middle;
    align-self: flex-end;
    font-style: italic;
    height: $footer-copyright;
  }
}




// contact form 
.contact {
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
    text-align: left;
  }

  .form{
    width: 50%;
    padding: 1em;
  }
  .extra{
    padding: 6rem 1em 1em 1em;
    // padding: 8rem;
    // margin-top: 5em;
    width: 50%;
    background: $contact-color;
    line-height: 2;
    // height: 100%; 
  }

  input.btn{
    width: auto;
    background: $accent-color;
    display: block;
    padding: 1em;
    font-weight: bold;
    border-radius: 2em;
  }
}


.icon {
  height: 2em;
  display: inline;
  vertical-align: bottom;
}

p.icon-p {
  margin: 1em 0;
  font-weight: bold;
}
.footer {
  max-width: 100vw;
  overflow: hidden;
}
@import "temp";